
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <div class="page-content-10">
    <div class="center">
        <h2>CÔNG TY TƯ NHÂN ONLINE SHOP</h2>
        <p><span style="font-size: 12pt;">Được thành lập vào năm 1992, bước sơ khai của OnlineShop là cửa hàng kinh doanh Điện - Điện Tử - Điện Lạnh tại Quận Thủ Đức.&nbsp;Với tầm nhìn chiến lược kinh doanh và&nbsp;<strong></strong>những nổ lực không ngừng, Online Shop&nbsp;đã trở thành một trong những thương hiệu bán lẻ số 1 tại thị trường Việt Nam. Thế mạnh làm nên Online Shop không chỉ dừng lại ở sản phẩm chính hãng chất lượng cao, sự chuyên môn hóa trong từng bộ phận mà còn là tính trách nhiệm cao, sự quản lý chuyên nghiệp cùng đội ngũ kỹ thuật lành nghề, phục vụ tận tâm, uy tín, giá thành hợp lý đáp ứng tốt yêu cầu và nhu cầu khác nhau của khách hàng.</span></p>
        <p><span style="font-size: 12pt;">Với phương châm "Tất cả cho khách hàng, khách hàng cho tất cả" và định hướng tiến tới trong tương lai, Online Shop luôn nổ lực không ngừng để cung cấp cho khách hàng những chất lượng tốt nhất. Sự tin tưởng và ủng hộ của khách hàng trong thời gian vừa qua là nguồn động viên to lớn trên bước đường phát triển của Online Shop.&nbsp;Chúng tôi xin hứa sẽ không ngừng hoàn thiện, phục vụ khách hàng tốt nhất để hoàn thành sứ mệnh và sự tín nhiệm của quý khách hàng.</span></p>
        <ul>
            <li>Trụ sở chính:&nbsp;123 Linh Trung,KP1, P.Linh Trung,Q.Thủ Đức</li>
            <li>Điện thoại: 0979290073</li>
            <li>Email: <a href="# ">chamsoc@onlineshop.com </a></li>
            <li>Website: <a href="#">www.OnlineShop.com</a></li>
        </ul>
        <div class="inn"></div>
    </div>

</div>
</div>

